body {
	     background-image: url('../images/bg.jpg'); 
	     text-align:center;
	     background-repeat:no-repeat;
 		 background-position:top;
 	     background-attachment:fixed;
         background-size:100% 100%;
}
#canvas{display: inline-block;}
fieldset{border:0px}

